@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #F1F1F1;
}

header {
  text-align: center;
  color: #000;
  font-family: Playfair Display;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 5rem 0;
}

footer {
  margin-top: 4rem;
  color: #999;
  text-align: center;
}

footer hr {
  margin: 0 auto 8px auto;
}

footer span {
  padding: 0 8px;
}

/* Loading Screen Styling */
#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-container div {
  width: 3rem!important;
  height: 3rem!important;
  color: #7473EA!important;
}

h2.h5 {
  margin-top: 1rem!important;
}

#copyright-el {
  color: #7473EA;
  font-family: Playfair Display;
  font-size: 2rem;
}

.extra-containers h1 {
  font-family: Playfair Display;
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  padding: 0!important;
  margin-top: 4rem;
}

.input-area {
  border-right: 2px solid rgba(153, 153, 153, 0.2);
}

@media (max-width: 991px){
  .input-area {
    border-right:none;
    border-bottom: 2px solid rgba(153, 153, 153, 0.2);
    margin-bottom: 3rem;
  }
}

.card-style {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.10);
  min-width: 215px;
}

.button {
  width: 215px;
  height: 70px;
  background-color: #7473EA;
  color: #FFF;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.10);
  transition: 0.2s;
}

.button:hover {
  transform: translateY(-6px);
}

.button:active {
  background-color: #DDE0F8;
}

.hint {
  color: #999;
  font-size: 14px;
}

.slider label {
  font-size: 20px;
}

.form-range::-webkit-slider-thumb {
  background: #7473EA;
}

.form-range::-moz-range-thumb {
  background: #7473EA;
}

.form-range::-ms-thumb {
  background: #7473EA;
}

/* Plus Button Styling */
.plus-button {
  box-sizing: border-box;
  background-color: #DDE0F8;
  border-radius: 50%;
  padding: 10px;
  transition: 0.2s;
}

.plus-button:hover {
  transform: scale(1.2);
}

.plus-button:active {
  background-color: #7473EA;
}

/* Scatter Chart Styling */
#myChart {
  height: 100%!important;
  width: 100%!important;
}

@media (min-width: 992px) {
  #scatterChartContainer {
    position: fixed;
    top: 50%;
    width: 48vw;
    transform: translateY(-50%);
  }
}

/* Styling der Buttons mit Bootstrap */
/* Hier sind nur manuelle kleine Änderungen */

.form-check-label-individual-left {
  position: absolute;
  left: 25%;

}

.form-check-label-individual-right {
  position: absolute;
  right: 25%;
}

.form-check-input-toggle-individual {
  min-width: 20%;
  min-height: 2.4rem;
  position: absolute;
  left: 45%;
}

.form-check-input-toggle-individual[type='checkbox']:checked + .form-check-label-individual-right {
  color: #7473EA;
}

.btn-excel {
  margin: .5rem;
}

